<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventGate"
        tools:targetApi="31">
        <activity
            android:name=".attendee.AttendeeScanDetailQR"
            android:exported="false" />
        <activity
            android:name=".admin.AdminEventViewerActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerReuseQRActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerEditQR"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerViewAttendeeActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerMapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_onesignal_default" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwwPdRqVOohdPIAUk3L_LkI472ubkwR_c" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".organizer.OrganizerMainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerEventEditorActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendeeActivity"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendeeEventViewer"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendeeAllEventViewerDetail"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendeeViewParticipants"
            android:exported="false" />
        <activity
            android:name=".attendee.QRCodeScanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>
    </application>

</manifest>